.txt-middle {
  font-size: 1.7em;
}
.txt-1 {
  font-size: 1.1rem;
}
.ind-bot-5 {
  margin-bottom: 5px;
}
.ind-bot-2e {
  margin-bottom: 2em;
}
.ind-top-0 {
  margin-bottom: 0 !important;
  padding-top: 0 !important;
}